@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <br />
    <input type="button" class="btn btn-primary" asp-action="" asp-controller="ProductoController" name="Ver todos los productos"/>
    <br />
    <input type="button" class="btn btn-primary" asp-action="" asp-controller="ProductoController" name="Ver un producto" />
    <br />
    <input type="button" class="btn btn-primary" asp-action="" asp-controller="ProductoController" name="Agregar un producto" />
    <br />
    <input type="button" class="btn btn-primary" asp-action="" asp-controller="ProductoController" name="Actualizar un producto" />
    <br />
    <input type="button" class="btn btn-primary" asp-action="" asp-controller="ProductoController" name="Borrar un producto" />
</div>
